@font-face {
  font-family: boldFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: semiFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}

:root {
  --font-color: #12131a;
  --card-font-color: #12131a;
  --purple: #d3a0f4;
  --yellow: #ff9f00;
  --orange: #fe8159;
  --bg-img: url("./assets/images/bg-light-theme.png");
  --progress-bar-bg: #f2f2f7;
  --logo: url("./assets/images/logo-light-theme.svg");
  --theme-btn: url("./assets/images/icon-moon.svg");
  --progress-color: #d3a0fa;
  --text-preset1: 64px;
  --text-preset1-mobile: 40px;
  --text-preset2: 24px;
  --text-preset3: 20px;
  --text-preset4: 16px;
  --margin: 48px;
  --textarea-bg: #e4e4ef;
}

.dark-theme {
  --font-color: #e4e4ef;
  --bg-img: url("./assets/images/bg-dark-theme.png");
  --logo: url("./assets/images/logo-dark-theme.svg");
  --progress-bar-bg: #21222c;
  --textarea-bg: #2a2b37;
  --theme-btn: url("./assets/images/icon-sun.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: regularFont;
  color: var(--font-color);
  background-image: var(--bg-img);
  background-size: cover;
  /* overflow: hidden; */
}

header,
section,
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: auto;
  margin-inline: auto;
  width: 100vw;
  max-width: 600px;
  padding: 0 20px;
  /* border: 1px solid red; */
}

.nav-title {
  height: 44px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: semiFont;
}

.div-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  background-image: var(--logo);
  width: 50%;
  height: 44px;
  background-position: left;
}

.theme-btn {
  background-image: var(--theme-btn);
  width: 40%;
  height: 44px;
  background-position: right;
}

button {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.nav-title>button:first-child {
  display: none;
}

.nav-title> :nth-child(2) {
  display: none;
}

.dark-theme .nav-title>button:nth-child(2) {
  display: none;
}

.dark-theme .nav-title> :first-child {
  display: none;
}

.dark-theme .nav-title>button:first-child {
  display: block;
}

.dark-theme .nav-title> :nth-child(2) {
  display: block;
}

.title {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.title div {
  font-size: var(--text-preset1-mobile);
  text-align: center;
  font-family: boldFont;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 100%;
  background-color: var(--textarea-bg);
  height: 200px;
  font-size: var(--text-preset3);
  padding: 20px;
  resize: none;
  color: var(--font-color);
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid var(--progress-bar-bg);
}

textarea:focus {
  border: 1.5px solid var(--purple);
  outline: none;
  box-shadow: 0 0 6px 4px rgba(194, 114, 248, 0.6);
}

textarea::placeholder {
  color: var(--font-color);
  opacity: 1;
}

.options-container {
  height: 21px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--margin);
}

/* .checkbox {
  display: flex;
  justify-content: center;
} */
input[type="checkbox"],
label {
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--font-color);
  width: 16px;
  height: 16px;
  border-radius: 4px;
  align-items: center;
  color: var(--font-color);
}

input[type="checkbox"]:checked {
  background-color: var(--purple);
  background-image: url("./assets/images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.exclude {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.reading-time span::before {
  content: "<";
}

main,
section {
  flex-direction: column;
}

.counts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.stat-box {
  height: 150px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--card-font-color);
  padding: 16px;
  position: relative;
  overflow: hidden;
  font-size: var(--text-preset3);
}

.stat-box img {
  position: absolute;
  right: -30px;
}

.start-value {
  height: 64px;
  width: 288px;
  font-size: 64px;
  margin-bottom: 8px;
  font-family: semiFont;
}

.start-title {
  height: 28px;
  width: 288px;
  font-size: 20px;
}

.char-count {
  background-color: var(--purple);
}

.word-count {
  background-color: var(--yellow);
}

.sentence-count {
  background-color: var(--orange);
}

.ld-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--margin);
}

.ld-title {
  height: 31px;
  font-size: var(--text-preset2);
  margin-bottom: 20px;
  font-family: semiFont;
}

.ld-letter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.9%;
  height: 21px;
  max-width: 100%;
  gap: 12px;
  font-size: var(--text-preset4);
}

.ld-percentage {
  background-color: var(--progress-bar-bg);
  height: 12px;
  width: 85.9%;
  border-radius: 12px;
  margin: 0 14px;
}

.percentage {
  height: 100%;
  background-color: var(--progress-color);
  border-radius: 999px;
}

.letter {
  width: 1.6%;
  text-align: left;
}

.value {
  /* width: 8.7%; */
  text-align: right;
  white-space: nowrap;
}

.sm-btn {
  margin-top: 20px;
  height: 28px;
  color: var(--font-color);
}

.sm-btn> :nth-child(1) {
  display: none;
}

.dark-theme>.sm-btn> :nth-child(2) {
  display: block;
}

.dark-theme>.sm-btn> :nth-child(1) {
  display: none;
}

.see-more {
  visibility: hidden;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 600px;
  }

  .title {
    height: auto;
  }

  .title div {
    width: 60%;
    font-size: var(--text-preset1);
  }

  .options-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .exclude {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .counts-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .stat-box {
    width: 32%;
  }

  .stat-box img {
    right: -70px;
  }

  .start-value {
    position: absolute;
    z-index: 2;
    top: 20px;
  }

  .start-title {
    position: absolute;
    z-index: 2;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 100%;
    max-width: 1000px;
  }

  .stat-box img {
    right: -30px;
  }
}