@font-face {
  font-family: boldFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
}
@font-face {
  font-family: regularFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-Regular.ttf");
}
@font-face {
  font-family: semiFont;
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: regularFont;
}
.white-theme {
  background-image: url("./assets/images/bg-dark-theme.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dark-theme {
  background-image: url("./assets/images/bg-light-theme.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
}
.wrapper {
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}
header,
section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.header-title {
  height: 44px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: semiFont;
}
.title {
  height: 128px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 20px;
}
.title div {
  color: #f2f2f7;
  font-size: 60px;
  width: 60%;
  text-align: center;
  font-family: boldFont;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  background-color: #2a2b37;
  height: 180px;
  color: #e4e4ef;
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 20px;
}

.options-container {
  height: 21px;
  width: 100%;
  color: #e4e4ef;
  display: flex;
  justify-content: space-between;
  font-family: regularFont;
  margin-bottom: 48px;
}
input {
  accent-color: transparent !important;
}
.exclude {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.counts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.stat-box {
  box-sizing: border-box;
  height: 150px;
  width: 32%;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #12131a;
  padding: 16px;
}
.start-value {
  height: 64px;
  width: 288px;
  font-size: 64px;
  margin-bottom: 8px;
  font-family: semiFont;
}
.start-title {
  height: 28px;
  width: 288px;
  font-size: 20px;
}
.char-count {
  background-color: #d3a0f4;
  background-image: url("./assets/images/pattern-character-count.svg");
  background-position: right -20px center;
  background-repeat: no-repeat;
}
.word-count {
  background-color: #ff9f00;
  background-image: url("./assets/images/pattern-word-count.svg");
  background-position: right -20px center;
  background-repeat: no-repeat;
}
.sentence-count {
  background-color: #fe8159;
  background-image: url("./assets/images/pattern-sentence-count.svg");
  background-position: right -20px center;
  background-repeat: no-repeat;
}
.stats-section {
  flex-direction: column;
}
.ld-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
}
.ld-title {
  color: #e4e4e5;
  height: 31px;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: semiFont;
}
.ld-letter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 21px;
  width: 100%;
}
.ld-letter span {
  color: #e4e4e5;
}
.ld-percentage {
  background-color: #21222c;
  height: 12px;
  width: 88%;
  border-radius: 12px;
  margin: 0 14px;
}
.percentage {
  height: 100%;
  background-color: #d3a0fa;
  border-radius: 12px;
}
.letter {
  width: 1.5%;
}
.value {
  width: 8%;
}
button {
  font-size: 20px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: #e4e4ef;
  display: inline-block;
  text-decoration: none;
  width: 100px;
  font-family: regularFont;
}
.see-more {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    max-width: 500px;
  }
  .title {
    height: 80px;
    padding: 20px;
  }
  .title div {
    font-size: 40px;
    width: 100%;
  }

  .options-container {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .exclude {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .counts-container {
    flex-direction: column;
  }
  .stat-box {
    width: 100%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 90px) {
  .wrapper {
    max-width: 800px;
  }
}
